@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primaryColor: hsl(0, 0%, 0%);
  --secondryColor: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);
  --a-color: rgb(244 244 245);
  --p-color: rgb(161 161 170);
  --nav-bg: rgb(39 39 42);
  --blue: rgb(93, 188, 252);
  --card-border: rgba(93, 188, 252, 0.3);
  --hover-icon: #d4d4d8;
}

.light {
  --primaryColor: rgba(250, 250, 250);
  --secondryColor: rgb(255,255,255);
  --border: rgba(202, 202, 202, 0.518);
  --a-color: rgb(39 39 42);
  --p-color: rgb(82 82 91);
  --nav-bg: rgb(253 253 253);
  --blue: rgb(0, 149, 246);
  --card-border: rgba(93, 188, 252, 0.3);
  --hover-icon: #333;
  --sun-hover:rgb(255, 228, 76);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
button {
  cursor: pointer;
}
button:active {
  scale: 0.9;
}
button:disabled{
  cursor: not-allowed;
  opacity: 0.4;
}
img {
  width: 100%;
}
body {
  background-color: var(--primaryColor);
  color: #f4f4f5;
}
.flex {
  display: flex;
}

.border {
  border: 2px solid red;
}
.divider {
  border-bottom: 2px solid var(--border);
  margin: 3rem 0;
  width: calc(100% + 4.8rem * 2);
  margin-left: -4.8em;
}

.container {
  border: 2px solid var(--border);
  width: 95%;
  margin: auto;
  padding: 0 4.8rem;
  background-color: var(--secondryColor);
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
    padding: 0 1.7rem;
  }
  .divider {
    width: calc(100% + 1.7rem * 2);
    margin-left: -1.7em;
  }
}
@media (max-width: 700px) {
  .container {
    width: 98%;
    padding: 0 1.7rem;
  }
  button.scroll2Top {
    opacity: 0.5;
  }
  button.scroll2Top:hover {
    opacity: 1;
  }
}

/* back to top btn  */
button.scroll2Top {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  background-color: var(--blue);
  border: 2px solid #fff;
  color: #fff;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  /* display: none; */
}

/* scroll bar code */
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  border: 7px solid #535353;
  box-shadow: inset 0 0 2.5px 2px var(--blue);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--p-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-icon);
}
